/*************************
General
**************************/


/*************************
Cover
**************************/
/* 
.top {
 background-image: url("/css/Pictures/profile_cover.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
}  */

.top {
overflow: hidden;
}


#covertop {
  min-width: 100%;
  height: 100%;
  border: 0;
  background-attachment: fixed;
  background-size: cover;
  z-index: -100;
  transform: scale(2);
}

/*************************
Navigation
**************************/
.nav-list{
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 1px;
  text-align: center
}

.nav-list li {
  display: inline;
  padding-right: 3px;
  padding-left: 3%;
  font-family: 'Open Sans', sans-serif;
}


.centerNav {
color:white;
font-size: 20px;
}



.nav-list li a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background: #f5f5f567;
  border-radius: 25px;
  padding: 6px;
}

.profileName {
  position: absolute; 
  left: 0;
  top: 35%;
  width: 100%;
  margin-bottom: 1;
  text-align: center;
  color: white;
}

.profileName h1 {
  font-size: 5em;
  letter-spacing: 3px;
  font-family: 'Merienda', cursive;
  font-style: bold;
}

.profileName h2 {
color: rgb(252, 252, 252);
letter-spacing: 3px;
padding-top: 50px;
font-family: 'Merienda', cursive;
font-style: bold;
}

.top input {
  position: absolute;
  background: black;
  color: white;
  bottom: 4%;
  left: 47%;
}




/*************************
Page Profile
**************************/
.profile {
  background-image: url("/css/Pictures/Profile_Background.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
}

.profile h1 {
  text-align: center;
  color: white;
  margin: 0;
  font-family: 'Merienda', cursive;
  padding-top: 3%;
  padding-bottom: 4%;
  display: block;
}

/* .profilePic {
  max-height: 57%;
  padding-left: 10px;
  padding-right: 0;
  margin: 0 auto;
  vertical-align: top;
  border-radius: 50%;
  box-shadow: 5px 10px 8px 10px #0c0c0c6b;
  display: inline-block;
  margin-left: 55px;
}

.profile div {
  display: inline-block;
  width: 60%;
}

.profile p {  
  width: 100%;
  height: 29%;
  color: white;
  padding-left: 10%;
  padding-right: 5%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;}

.three:after {
  content: "";
  display: table;
  clear: both;
} */

.flex-container {
  display: flex;
  padding-top: 4%;
}

.mySelf {
  width: 50%;
  padding: 0px 4%;
}

.myself h2 {
text-align: center;
color: white;
margin-bottom: 9%;
}

.mySelf img {
  width: 85%;
  border-radius: 50%;
  box-shadow:  9px 9px 9px 6px #150f0f9e;
  margin-left: 8%;
}
 .myself p {
   color: white;
   width: 100%;
   text-align: center;
   margin-top: 10%;
 }

 .featuredProject {
  width: 100%;
  padding: 0px 4%;
  border-radius: 2%;
}

.featuredProject h2 {
  text-align: center;
  color: white;
  margin-bottom: 5%;
}

/* .featuredProject img {
  width: 100%;
  box-shadow:  9px 9px 9px 6px #150f0f9e;
} */
/************************ new *******************/

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__prev > label:nth-child(7), 
.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), 
.carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), 
.carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), 
.carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), 
.carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), 
.carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), 
.carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), 
.carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), 
.carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__next > label:nth-child(6), 
.carousel > input[type="radio"]:nth-child(6):checked ~ .carousel__prev > label:nth-child(5),
.carousel > input[type="radio"]:nth-child(6):checked ~ .carousel__next > label:nth-child(7),
.carousel > input[type="radio"]:nth-child(7):checked ~ .carousel__prev > label:nth-child(6),
.carousel > input[type="radio"]:nth-child(7):checked ~ .carousel__next > label:nth-child(1) 
{
  opacity: 1 !important;
  z-index: 3;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel > input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}

.carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item, 
.carousel > input[type="radio"]:checked ~ .carousel__prev > label, .carousel > input[type="radio"]:checked ~ .carousel__next > label { opacity: 0; }

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) { opacity: 1; }

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) { opacity: 1; }

.carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) { opacity: 1; }

.carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) { opacity: 1; }

.carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) { opacity: 1; }

.carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
/*new slides*/
.carousel > input[type="radio"]:nth-child(6):checked ~ .carousel__items .carousel__item:nth-child(6) { opacity: 1; }

.carousel > input[type="radio"]:nth-child(6):checked ~ .carousel__nav > label:nth-child(6) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(7):checked ~ .carousel__items .carousel__item:nth-child(7) { opacity: 1; }

.carousel > input[type="radio"]:nth-child(7):checked ~ .carousel__nav > label:nth-child(7) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}



/*new slides*/
.carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 600px;
  position: relative;
}

.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.carousel__item img {
  width: 100%;
  vertical-align: middle;
  max-height: 90%;
  min-height: 90%;
}

.carousel_item img:hover {
    opacity: 1;
} 

.carousel__prev > label, .carousel__next > label {
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  opacity: 0;
  z-index: 2;
}

.carousel__prev > label:hover, .carousel__prev > label:focus, .carousel__next > label:hover, .carousel__next > label:focus { opacity: .5 !important; }

.carousel__prev > label:before, .carousel__prev > label:after, .carousel__next > label:before, .carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}

.carousel__prev > label:before, .carousel__next > label:before {
  background: -webkit-linear-gradient(bottom, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),  -webkit-linear-gradient(right, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  background: -o-linear-gradient(bottom, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),  -o-linear-gradient(right, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),  linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}

.carousel__prev > label { left: 2%; }

.carousel__prev > label:before {
  left: 35%;
  top: 20%;
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel__next > label { right: 2%; }

.carousel__next > label:before {
  left: 10%;
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.carousel__nav {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.carousel__nav > label {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 .125%;
  width: 20px;
  height: 20px;
}


/*************************
Page: portfolio
**************************/
#portfolio {
background: black;
background-size: 100%;
width: 100vw;
height: 100vh;
}

#portfolio h1 {
  padding-top: 5%;
  text-align: center;
  color: white;
  margin: 0;
  font-family: 'Merienda', cursive;
}

.project-container {
  display: flex;

}

.project {
  width: 45%;
  height: 45%;
  margin: 3% 5%;
  padding: 0 1%;
}

.project img {
width: 100%;
}

/* 
.gallery {
  margin: 0;
  padding: 0;
  list-style: none;  
  }
  
  .gallery li {
  display: inline-block;
  width: 40%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
  text-decoration: none
  }
  .gallery img {
    width: 100%
  }
  
  .gallery:after {
    content: "";
    display: table;
    clear: both;
    text-decoration: none
} */

/*************************
Contact
**************************/
.five {
	font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background: url("/css/Pictures/Profile_landing.jpg");
  width: 100vw;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  padding: 0;
  border: green;
}

h3 {
  padding-top: 10%;
  text-align: center; 
  color: white;
  font-family: 'Merienda', cursive;
}

label {
color: white;
text-align: center;
font-size: 15;
font-family: 'Open Sans', sans-serif;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 20px
}

input[type=submit]:hover {
  background-color: #686868;
}

.container {
  border-radius: 5px;
  padding: 20px;
}
/*************************
Media queries
**************************/
@media screen and  (max-width: 1024px) {
  .flex-container {
    display: flex;
    padding-top: 4%;
    flex-direction: column;
  }
 
  .mySelf {
    width: 100%;
    padding: 0px 2%;
}

  .myself h2 {
    text-align: center;
    color: white;
    margin-bottom: 0%;
}

.mySelf img {
  width: 40%;
  border-radius: 50%;
  box-shadow: 9px 9px 9px 6px #150f0f9e;
  margin-left: 3%;
  vertical-align: middle;
}

.myself p {
  color: white;
  width: 48%;
  text-align: center;
  margin-top: 6%;
  display: inline-block;
  margin-left: 5%;
  vertical-align: middle;
}

.featuredProject {
  width: 100%;
  padding: 0px 4%;
  border-radius: 2%;
}

}


/* first break -------- */
@media screen and  (max-width: 1083px) {

  .profileName h1 {
  font-size: 3em
}
  .profileName h2 {

  }
}
/* ipad -------- */
@media screen and  (max-width: 768px) {
  .carousel {
    height: 50%;
}
}

/* Second Break ----------- */
@media screen and  (max-width: 448px) {

.profileName h1 {
  font-size: 4em;
}

.profile P {
  display: block;
  font-size: 17px;
  width: 80%;
  padding-top: 15px;
}
}

@media screen and  (max-width: 414px) {

  .flex-container {
    display: flex;
    padding-top: 4%;
    flex-direction: column;
  }
 
  .mySelf {
    width: 100%;
    padding: 0px 2%;
}

  .myself h2 {
    text-align: center;
    color: white;
    margin-bottom: 0%;
    font-size: 24px;
}

.mySelf img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 9px 9px 9px 6px #150f0f9e;
  margin-left: 25%;
  vertical-align: middle;
  margin-top: 4%;
}

.myself p {
  color: white;
  width: 90%;
  text-align: center;
  margin-top: 0%;
  display: inline-block;
  margin-left: 5%;
  vertical-align: middle;
  font-size: 14px;
}

.featuredProject h2 {
  text-align: center;
  color: white;
  margin-bottom: 5%;
  font-size: 22px;
}

.featuredProject {
  width: 100%;
  padding: 0px 4%;
  border-radius: 2%;
}

.carousel__item img {
    width: 100%;
    vertical-align: middle;
    /* max-height: 82%; */
    min-height: 34%;
}

  }

/* iPhone 5 ----------- */
@media screen and  (max-width: 375px) {
  
.rightside {
  font-size: .8em;
}

.leftside {
  font-size: .9em 
}

  .quickIntro {
    font-size: auto;
  }

  .profile h1 {
    padding-top: 11%;
  }

  .profile img {
    height: auto;
    width: 49%;
}
.profile p {
  display: block;
  width: 90%;
  font-size: .9em
}

.gallery{
  padding-left: 25%;
}

.gallery li {
  width: 90%;
}

} 