<html>
    <head>
      <title> Kenny Thanks You </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron text-xs-center">
            <h1 class="display-3">Thanks <%= contactReq.firstname %>!</h1>
            <p class="lead"><strong>I'll Be in touch soon!</strong>
            <hr>
            <p class="lead">
              <form action="/" method="GET">
              <input class="btn btn-primary btn-sm" type='submit' value="Go back to my Profile">
            </form>
            </p>
          </div>
      <div></div>
      </div>
    </body>
  </html>
  